<div class='table-responsive'>
  <table class='table table-striped'>
    <tr>
      <th></th>
      <% cols = @summary.first.second.keys %>
      <% cols.each do |col| %>
        <th><%= col.to_s.titleize %></th>
      <% end %>
    </tr>
    <% @summary.each do |year, data| %>
      <tr>
        <th><%= year %></th>
        <% data.values.each do |value| %>
          <td>
            <% value.each do |type, amount| %>
              <% if type.to_s == 'percentage_change' %>
                <%= "#{type.to_s.titleize} : #{amount.round(2)}%" %>
              <% else %>
                <%= "#{type.to_s.titleize} : #{number_to_currency(amount, precision: 2, unit: 'Rs', format: '%n %u')}" %>
              <% end %>
              </br>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
