<% content_for :title, "Investments Dashboard" -%>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        Investments Dashboard
      </div>

      <%= render 'dashboard/table' %>

      <br/>
    </div>
  </div>
</div>
